<form>
    <div id="template-i72c" class="form-group ">
        <label id="template-iywj" class="label ">Name</label>
        <input id="template-ingm" class="input form-control "  type="text">
    </div>
    
    <div id="template-i8eo" class="form-group ">
        <label id="template-i0mv" class="label ">Email</label>
        <input id="template-iff1" class="input form-control "  type="text">
    </div>
    
    <div id="template-i8cl" class="form-group ">
        <label id="template-icdqg" class="label ">Gender</label>
        <input type="checkbox" id="template-iz42l" class="checkbox ">
        <label id="template-ilp4f" class="checkbox-label ">M</label>
        <input type="checkbox" id="template-igztl" class="checkbox ">
        <label id="template-i57th" class="checkbox-label ">F</label>
    </div>
    
    <div id="template-i3k2l" class="form-group ">
        <label id="template-isfxe" class="label ">Message</label>
        <textarea type="text" id="template-i51am" class="textarea form-control "></textarea>
    </div>
    
    <div id="template-ij1yi" class="form-group ">
        <button type="submit" id="template-ib113"  class="button btn btn-primary ">Send</button>
    </div>
    
</form>